body
{
	width: 925px;
	margin: auto;
	background: #012345 url('../techImages/uar_style/bg.jpg') repeat-x;
}

#top
{
	background-image: url('../techImages/uar_style/top.jpg');
	height: 516px;
}

#bottom
{
	background-image: url('../techImages/uar_style/bottom.jpg');
	height: 242px;
}