body
{
	width: 925px;
	margin: auto;
	background: #012345 url('../techImages/uar_style/bg.jpg') repeat-x;
}

#top
{
	background-image: url('../techImages/uar_style/top.png');
	height: 73px;
}

#bottom
{
	background-image: url('../techImages/uar_style/bottom.png');
	height: 88px;
}