/*org-specific styling*/
.info_box_org .title
{
	width: 226px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	margin: 0px 0px 0px 5px;
	padding: 3px 0px 5px 0px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.info_box_org>.refresh, .info_box_org>.info
{
	width: 17px;
	height: 17px;
	padding: 0px;
	display: inline-block;
	background: black;
	border: none;
	margin-top: 6px;
	margin-left: 1px;
	vertical-align: top;
	cursor: pointer;
}
.info_box_org>.refresh
{
	margin-right: 2px;
	background: url('../techImages/refresh.png');
	background-position: 0px 0px;
}
.info_box_org>.info
{
	margin-right: 5px;
	background: url('../techImages/info.png');
	background-position: 0px 0px;
}
.info_box_org>.info:active
{
	background-position: 17px 0px;
}

span.info, span.refresh
{
	width: 17px;
	height: 17px;
	display: inline-block;
	border: solid 1px gray;
}

span.info
{
	background: gray url('../techImages/info.png');
	margin: 0px;
	padding: 0px;
}

span.refresh
{
	background: gray url('../techImages/refresh.png');
	margin: 0px;
	padding: 0px;
}

#org_policy
{
	text-align: justify;
}
/*end of org-specific styling*/

#results
{
	overflow: auto;
	clear: both;
}

.nobutton
{
	background: none;
	border: none;
	color: #00E;
	text-decoration: underline;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}

.nobutton:active
{
	color: #F00;
}

.info_box, .info_box_org
{
	margin: 5px;
	width: 275px;
	float: left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 105px;
	
}

.unknown 
{
	background: #555;
}

.unknown .title
{
	color: white;
}

.yes
{
	background: #D00;
}

.yes .title
{
	color: white;
}

.no
{
	background: #014c83;
}

.no .title
{
	color: gold;
}

.info_box .title
{
	font-family: Helvetica, Verdana, Arial, sans-serif;
	margin: 0px 5px;
	padding: 3px 0px 5px 0px;
	width: 265px;
	text-align: center;
}

.info_box .data, .info_box_org .data
{
	width: 255px;
	height: 60px;
	padding: 5px;
	margin: 0px 5px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	background: white;
	text-align: center;
}

.info_box .data .progress_bar, .info_box_org .data .progress_bar 
{
	margin: 22px auto;
	display: block;
}

.info_box .main_info, .info_box_org .main_info
{
	text-align: center;
	display: block;
	margin: 0px auto;
	font-weight: bold;
}

.info_box .description, .info_box_org .description
{
	margin: 0px;
	text-align: justify;
}

.info_box .data button, .info_box_org .data button
{
	text-align: center;
	margin: 1px auto;
}

#dialog
{
	text-align: justify;
	font-size: 120%;
}

#dialog .progress_bar
{
	margin: 150px auto;
	display: block;
}

#dialog ul
{
	list-style: none;
}

#dialog .header
{
	font-weight: bold;
}

form
{
	/*width: 690px;*/
	margin: auto;
}

#intro
{
	margin: 0px;
	padding: 10px 10px;
	font-family: 'Lucida Grande','Lucida Sans',Arial;
	font-size: 18px;
	font-weight: bold;
}

#domains
{
	float: left;
}

#domains label
{
	margin-left: -5px;
}

#domains input:first-child+label
{
	margin-left: 0px;
}

#mass_tooglers
{
	float: right;
}

#mass_tooglers button
{
	margin-bottom: 0px;
	margin-top: 0px;
}

#input_block
{
	overflow: auto;
	clear: both;
	padding: 10px 20px;
}

#mainfield
{
	background: transparent url('../techImages/uar_style/input.png');
	font-family: 'Lucida Grande';
	border: none;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 22px;
	letter-spacing: normal;
	line-height: normal;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 4px;
	padding-top: 6px;
	text-decoration: none;
	text-indent: 0px;
	text-shadow: none;
	text-transform: none;
	width: 238px;
	word-spacing: 0px;
	float: left;
}

#mainfield+p
{
	float: left;
	margin: 0px 10px;
	line-height: 28px;
	font-family: 'Lucida Grande','Lucida Sans',Arial;
	font-size: 16px;
}

#whois
{
	background: white;
	width: 855px;
	padding: 0px 35px;
	margin: auto;
}